<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <title><SUBTITLE/> - CineCitta</title>
    <meta name="description" content="Questa pagina è riservata agli amministratori. Visita la pagina principale del CineCitta!" />
    <meta name="keywords" content="cinema, film, programmazione, orari, biglietti, proiezioni, prenotazioni, film in uscita, cinema località Cittadella, eventi speciali, anteprime, sala cinematografica" />
    <meta name="author" content="Marco Dolzan, Zaccaria Marangon, Luca Pierobon, Mattia Piva" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" media="handled, screen" />
    <link rel="stylesheet" href="./style/print.css" media="print" />
    <link rel="stylesheet" href="./style/mini.css" media="handled, screen and (max-width: 600px), only screen and (max-device-width: 600px)" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <script src="./js/script.js"></script>
</head>

<body>
    <TOPBAR/>
    
    <BREADCRUMB/>

    <MENU/>

    <main id="main">
        <div class="dashboard" id="admin-dashboard">
            <h1>Area di amministrazione</h1>
            <div class="session-popup">
                <p>Attraverso il <a href="admin.php#admin-topnav">menù di amministrazione</a> puoi navigare tra le pagine dedicate alla gestione delle prenotazioni, dei film e delle proiezioni nonché leggere i messaggi ricevuti dagli utenti.</p>
            </div>
            <div class="session-popup">
                <h2><span lang="en">Dashboard</span></h2>
                <a href="dashboard.php">Vai alla <span lang="en">dashboard</span> utente.</a>
            </div>
            <div class="session-popup" id="option-logout">
                <h2><span lang="en">Logout</span></h2>
                <a class="deny-button" href="logout.php">Disconnettiti</a>
            </div>
        </div>
    </main>
    
    <FOOTER/>
</body>

</html>