<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <title><SUBTITLE/> - CineCitta</title>
    <meta name="description" content="Hai domande, suggerimenti o hai bisogno di contattarci? Trova qui tutte le informazioni di contatto per metterti in contatto con il team di CineCitta. Compila il modulo di contatto o utilizza i dettagli forniti per inviarci un'e-mail o chiamarci direttamente. Siamo qui per ascoltarti e fornirti il supporto necessario. Non esitare a raggiungerci per qualsiasi richiesta o informazione. Saremo lieti di assisterti." />
    <meta name="keywords" content="cinema, film, programmazione, orari, biglietti, proiezioni, prenotazioni, film in uscita, cinema località Cittadella, eventi speciali, anteprime, sala cinematografica" />
    <meta name="author" content="Marco Dolzan, Zaccaria Marangon, Luca Pierobon, Mattia Piva" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" media="handled, screen" />
    <link rel="stylesheet" href="./style/print.css" media="print" />
    <link rel="stylesheet" href="./style/mini.css" media="handled, screen and (max-width: 600px), only screen and (max-device-width: 600px)" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <script src="./js/script.js"></script>
</head>

<body onload="validation()">
    <TOPBAR/>
    
    <BREADCRUMB/>

    <main id="main">
        <div id="page-contatti">
            <h1>Contatti</h1>
        
            <CONTATTI/>
        
            <FORM/>
        
        </div>
    </main>
    
    <FOOTER/>
</body>

</html>