<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <title>CineCitta</title>
    <meta name="description" content="Siamo spiacenti, la pagina che stai cercando non è disponibile. Ti consigliamo di tornare alla pagina principale del CineCitta." />
    <meta name="keywords" content="cinema, film, programmazione, orari, biglietti, proiezioni, prenotazioni, film in uscita, cinema località Cittadella, eventi speciali, anteprime, sala cinematografica" />
    <meta name="author" content="Marco Dolzan, Zaccaria Marangon, Luca Pierobon, Mattia Piva" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" media="handled, screen" />
    <link rel="stylesheet" href="./style/print.css" media="print" />
    <link rel="stylesheet" href="./style/mini.css" media="handled, screen and (max-width: 600px), only screen and (max-device-width: 600px)" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <script src="./js/script.js"></script>
</head>

<body>
    <header>
        <a class="skipToContent" tabindex="0" href="#main" aria-label="Al contenuto">Salta il menù e vai al contenuto.</a>
    
        <h1><a href="index.php">CineCitta</a></h1>
    
        <noscript><style>#hamburger {display: none} #header-topnav {display: block;}</style></noscript>
    
        <button id="hamburger" onclick="showMenu()">Menù</button>
    
        <nav class="topnav" id="header-topnav" aria-label="Menù principale">
            <ul>
                <li><a href="index.php"><span lang="en">Home</span></a></li>
                <li><a href="screenings.php">Proiezioni</a></li>
                <li><a href="movies.php">Film in sala</a></li>
                <li><a href="contacts.php">Contatti</a></li>
                <li><a href="dashboard.php">Area utente</a></li>
            </ul>
        </nav>
    </header>

    <main id="main" class="err">
        <div id="err">
            <h1><valErrore/></h1>
            <p><valDescrizione/></p>
            <p><valQuote/></p>
            <a href="index.php">Torna alla home</a>
        </div>
    </main>

    <FOOTER/>
</body>