<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <title><SUBTITLE/> - CineCitta</title>
    <meta name="description" content="Benvenuti al CineCitta! Trova i migliori film in programmazione, orari delle proiezioni e prenota i biglietti per le tue pellicole preferite. Scopri le ultime novità sulle uscite cinematografiche. Vivi l'arte del cinema nel cuore storico di Cittadella, prenota il tuo posto oggi stesso!" />
    <meta name="keywords" content="cinema, film, programmazione, orari, biglietti, proiezioni, prenotazioni, film in uscita, cinema località Cittadella, eventi speciali, anteprime, sala cinematografica" />
    <meta name="author" content="Marco Dolzan, Zaccaria Marangon, Luca Pierobon, Mattia Piva" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" media="handled, screen" />
    <link rel="stylesheet" href="./style/print.css" media="print" />
    <link rel="stylesheet" href="./style/mini.css" media="handled, screen and (max-width: 600px), only screen and (max-device-width: 600px)" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <script src="./js/script.js"></script>
</head>

<body>
    <TOPBAR/>
    
    <BREADCRUMB/>

    <main id="main">

        <div id="index-logo">
            <h1>CineCitta</h1>
            <p>Vivi l'arte del cinema nel cuore storico di Cittadella.</p>
        </div>

        <TRENDING/>

        <TODAY/>

        <INTRO/>

        <TECH/>
        
    </main>

    <FOOTER/>
    
</body>

</html>