<a href="#" class="noprint" id="backToTop">Torna su</a>
<noscript>
    <a href="#" class="noprint" id="backToTopNoJs">Torna su</a>
</noscript>

<footer>

    <div>
        <h1>Dove siamo</h1>
        <address>
            <p>Cittadella </p>
            <p>Stradella Posta Vecchia, 11</p>
            <p>35013 (PD)</p>
        </address>
    </div>

    <div>
        <h1>Contatti</h1>
        <p>Telefono: <a href="tel:+390123456789" class="phone">
            0123456789
        </a></p>
        <p>Mail: <a href="mailto:cinema@cittadella.pd" class="mailto">
            cinema@cittadella.pd
        </a></p>
        <p><a href="contacts.php">Mandaci un messaggio.</a></p>
    </div>

    <div>
        <h1>Autori del sito</h1>
        <ul>
            <li>Marco Dolzan</li>
            <li>Zaccaria Marangon</li>
            <li>Luca Pierobon</li>
            <li>Mattia Piva</li>
        </ul>
    </div>

    <div class="noprint">
        <h1>Menù</h1>
        <nav aria-label="Menù">
            <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="screenings.php">Proiezioni</a></li>
                <li><a href="movies.php">Film in sala</a></li>
                <li><a href="contacts.php">Contatti</a></li>
                <li><a href="dashboard.php">Area personale</a></li>
            </ul>
        </nav>
    </div>
 
    <div id="footer-logo">
        <h1>CineCitta</h1>
        <p>Vivi l'arte del cinema nel cuore storico di Cittadella.</p>
    </div>

</footer>