<header>
    <a class="skipToContent" tabindex="0" href="#main" aria-label="Al contenuto">Salta il menù e vai al contenuto.</a>

    <h1><LOGO/></h1>

    <noscript><style>#hamburger {display: none} #header-topnav {display: block;}</style></noscript>

    <button id="hamburger" onclick="showMenu()">Menù</button>

    <nav class="topnav" id="header-topnav" aria-label="Menù principale">
        <ul>
            <HOME/>
            <PROIEZIONI/>
            <FILM/>
            <CONTATTI/>
            <LOGIN/>
        </ul>
    </nav>
</header>