<div id="contatti-maps">
    <h2>CineCitta</h2>

    <div>
        <h3>Contatti</h3>
        <p>tel: <a href="tel:+390123456789">
            0123456789
        </a></p>
        <p><span lang="en">email</span>: <a href="mailto:cinema@cittadella.pd">
            cinema@cittadella.pd
        </a></p>
    </div>

    <div>
        <h3>Orari di apertura</h3>
        <p>Aperto tutte le sere.</p>
        <p>Lunedì - Domenica: 17:00 - 02:00</p>
    </div>
    
    <div>
        <h3>Dove siamo</h3>
        <address>
            <p>Cittadella </p>
            <p>Stradella Posta Vecchia, 11</p>
            <p>35013 (PD)</p>
        </address>
    </div>

    <div id="embed-maps">
        <h3>Google <span lang="en">Maps</span></h3>
        <iframe title="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2789.16204760527!2d11.779235276688512!3d45.64756742118484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4778d44fd4f702f5%3A0xada9e38a72ddb05a!2sCampo%20della%20Marta!5e0!3m2!1sen!2sit!4v1686582593176!5m2!1sen!2sit" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>