<dl>
    <div>
        <div class="booking-info">
            <dt>Data: </dt>
            <dd><valDate/></dd>
            <dt>Orario: </dt>
            <dd><time><valTime/></time></dd>
        </div>

        <div class="booking-info" id="title">
            <dt>Film: </dt>
            <dd><valTitle/></dd>
        </div>

        <div class="booking-info">
            <dt>Sala: </dt>
            <dd><valTheater/></dd>
            <dt>Posti ordinari: </dt>
            <dd><valOrdinary/></dd>
            <dt>Posti riservati: </dt>
            <dd><valReserved/></dd>
        </div>
    </div>
    <dt class="hide">Codice: </dt>
    <dd id="booking-code"><a href="book.php?code=<valCode/>" aria-label="Visualizza informazioni sulla prenotazione del film <valTitle/> del giorno <valDate/> alle ore <valTime/>."><valCode/></a></dd>
</dl>

<BOOKINGS/>