<li class="movie-container">
    <img src="<valImage/>" alt="Locandina per il film <valTitle/>"/>
    <div class="movie-text">
        <h2><a href="<valLink/>"><valTitle/></a></h2>
        <dl class="info">
            <dt>Data di rilascio: </dt>
            <dd><time datetime="<valReleaseDate/>"><valReleaseDateFormatted/></time></dd>
            <dt>Durata: </dt>
            <dd><valDuration/><abbr title="minuti">'</abbr></dd>
            <dt>Paesi di produzione: </dt>
            <dd><valCountries/></dd>
        </dl>
    </div>
</li>

<MOVIEITEM/>