<h2>Prenotazione eseguita</h2>
<p id="booking-code-label">Presenta questo codice in cassa:</p>
<p id="booking-code"><valCode/></p>

<ul>
    <li>Nome utente: <strong><valUsername/></strong></li>
    <li>Biglietti ordinari: <strong><valOrdinary/></strong></li>
    <li>Biglietti riservati: <strong><valReserved/></strong></li>
    <li>Sala: <strong><valTheater/></strong></li>
</ul>

<noscript><style>#print-booking {display: none;}</style></noscript>
<input type="button" onclick="printDiv('printable')" value="Stampa la prenotazione" class="confirm-button noprint" id="print-booking"/>

<ADMIN/>