<div class="screenings-film">
    <img src="<valImage/>" alt="Locandina per il film <valTitleFormatted/>"/>
    <div>
        <h2><a href="<valLink/>"><valTitleFormatted/></a></h2>
        <dl class="info">
            <dt class="hide">Data di rilascio: </dt>
            <dd><time datetime="<valReleaseDate/>"><valReleaseDateFormatted/></time></dd>
            <dt class="hide">Durata: </dt>
            <dd><valDuration/><abbr title="minuti">'</abbr></dd>
            <dt class="hide">Paese di produzione: </dt>
            <dd><valCountries/></dd>
        </dl>
        <ul>
            <TIME/>
        </ul>
    </div>
    
</div>

<SCHEDULECONTAINER/>