<div class="session-popup" id="delete-bookings">
    <h2>Elimina prenotazioni</h2>

    <MESSAGE/>

    <form method="post" name="delete-bookings">
        <p>Numero prenotazioni di oggi: <valToday/></p>
        <input type="submit" name="delete-today" id="delete-today" value="Elimina TUTTE le prenotazioni di oggi" class="danger-button"/>
        <p>Numero prenotazioni passate (fino al <valDate/> compreso): <valAll/></p>
        <input type="submit" name="delete-all" value="Elimina TUTTE le prenotazioni prima di oggi" class="danger-button"/>
    </form>
</div>