<h2>Il cinema</h2>

<div id="intro">
    <img src="./images/poltrone_sala.jpg" width="284" height="189" alt="Nella sala 1 sono presenti 12 file ciascuna con 20 poltrone, raggiungibili con scala al lato destro."/>

    <div id="content">
        <p>Il nostro cinema è il luogo ideale per gli amanti del grande schermo e dell'arte cinematografica. Siamo qui per offrirvi un'esperienza unica e coinvolgente, in cui potrete immergervi completamente nel magico mondo del cinema.</p>

        <p>Nel nostro repertorio troverete una vasta selezione di film, dalle ultime uscite <span lang="en">blockbuster</span> ai classici intramontabili. Che siate appassionati di azione, commedie, <span lang="en">thriller</span>, film d'autore o film per tutta la famiglia, abbiamo qualcosa per tutti i gusti.</p>

        <p>La nostra struttura è dotata delle più moderne tecnologie audio e video, garantendo una qualità superiore di visione e audio. Le nostre sale sono confortevoli, con comode poltrone e spazi riservati a persone con disabilità motorie che vi permetteranno di godervi ogni momento del vostro film preferito in totale <span lang="en">relax</span>.</p>

        <p>Esplorate il nostro programma, prenotate i vostri biglietti e preparatevi per un'esperienza cinematografica straordinaria.</p>
    </div>

    <img src="./images/sala.jpg" width="284" height="189" alt="È inquadrato lo schermo della sala 1. L'uscita si trova sotto lo schermo a destra."/>
</div>