<li class="movie-container" id="<valId/>">
    <div class="movie-image"></div>
    <div class="movie-text">
        <h3><a href="<valLink/>"><valTitle/></a></h3>
        <dl class="info">
            <dt class="hide">Data di rilascio: </dt>
            <dd><time datetime="<valReleaseDate/>"><valReleaseDateFormatted/></time></dd>
            <dt class="hide">Durata: </dt>
            <dd><valDuration/><abbr title="minuti">'</abbr></dd>
            <dt class="hide">Paesi di produzione: </dt>
            <dd><valCountries/></dd>
        </dl>
        <p><valSynopsis/>
        </p>
    </div>
</li>