<h2>Le tecnologie</h2>

<div id="tech">
    <div>
        <h3 id="vision"><span lang="en">Dolby Vision</span></h3>
        <p>Grazie a questa rivoluzionaria tecnologia <abbr title="High Dynamic Range" lang="en">HDR</abbr>, le immagini prendono vita con una gamma di colori incredibilmente vivida e dettagli sorprendenti. Vi sembrerà di toccare con mano ogni sfumatura, ogni dettaglio dell'immagine sullo schermo.</p>
    </div>
    <div>
        <h3 id="atmos"><span lang="en">Dolby Atmos</span></h3>
        <p>Il suono avvolgente vi trasporterà in un'altra dimensione. Il nostro sistema audio vi permetterà di vivere un'esperienza sonora tridimensionale senza precedenti. Gli effetti sonori vi circonderanno, creando un coinvolgimento totale nella trama del film.</p>
    </div>
    <div>
        <h3 id="surround"><span lang="en">Surround 7.1</span></h3>
        <p>Il nostro cinema è dotato di un impianto audio che offre un'esperienza sonora immersiva e coinvolgente. Gli altoparlanti sono disposti strategicamente per garantire una distribuzione ottimale del suono all'interno della sala.</p>
    </div>
</div>