<div id="today">
    <div class="box" id="movies">
        <div class="box-image">
            <p aria-hidden="true"><valData/></p>
        </div>
        <div class="box-content">
            <h2>Oggi in sala</h2>
            <ul>
                <ITEM/>
            </ul>
        </div>
    </div>
    <div class="box" id="promo">
        <div class="box-image"></div>
        <div class="box-content">
            <h2>Promozioni di oggi</h2>
            <p><valPromo/></p>
        </div>
    </div>
    <div class="box" id="prices">
        <div class="box-image"></div>
        <div class="box-content">
            <h2>Prezzi</h2>
            <dl>
                <dt>Intero</dt>
                <dd>€8.00</dd>
                <dt>Ridotto <span lang="en">under</span> 12</dt>
                <dd>€6.00</dd>
                <dt>Ridotto <span lang="en">over</span> 65</dt>
                <dd>€5.50</dd>
                <dt>Ridotto studenti</dt>
                <dd>€6.50</dd>
            </dl>
        </div>
    </div>
</div>